<div class="nosotros">
    <div class="imagen-nosotros">
        <div class="titulo">
            <h1 class="text-center">
                <span class="titulo-nosotros">Nosotros</span>
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-4">
                <img src="assets/img/inicio/acercaDe.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <h3 class="quienes-somos text-center">QUIENES SOMOS</h3>
                        <small class="text-muted">CORFOPYM</small>
                        <p>Siendo los objetivos de la Corporación desarrollar e impulsar los procesos necesarios para
                            fomentar los diversos sectores empresariales, para el cumplimiento de estos, se apoya la
                            gestión con la interacción entre organismos nacionales e internacionales, recibiendo y
                            canalizando financiamiento para planes y proyectos específicos, realizando cualquier tipo de
                            actos o contratos permitidos por las leyes ecuatorianas.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="mision">MISION</h4>
                        <p>Brindar servicios de gestión empresarial a través de la utilización de recursos humanos
                            altamente calificados y la aplicación de tecnología apropiada, a través de la interacción
                            con organismos nacionales e internacionales para lograr el desarrollo del sector empresarial
                            del Ecuador.</p>
                    </div>
                    <div class="col">
                        <h4 class="vision">VISION</h4>
                        <p> Ser reconocidos en el Ecuador como una entidad líder en la oferta de servicios de gestión
                            empresarial con calidad, que garantice a sus clientes mejorar su competitividad en el
                            mercado nacional e internacional, con socios comprometidos e infraestructura propia.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>