<div class="modal-header">
  <h4 class="modal-title">
    {{ idCurso ? "Editar información" : "Registrar curso" }}
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismissAll('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="text-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem" role="status" *ngIf="cargandoInicio">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <form autocomplete="off" [formGroup]="cursoForm" (ngSubmit)="guardar()">
    <div *ngIf="numPagina === 1">
      <h5 class="text-center">Información básica</h5>
      <hr>
      <!-- Nombre -->
      <span class="text-danger" *ngIf="validarCampos('nombre')">
        {{ errorNombre }}
      </span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
        </div>
        <input type="text" class="form-control" id="nombre" formControlName="nombre" />
      </div>

      <!-- Certificacion -->
      <span class="text-danger" *ngIf="validarCampos('certif')">
        {{ errorCertif }}
      </span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Certificación</span>
        </div>
        <input type="text" class="form-control" id="certif" formControlName="certif" />
      </div>

      <!-- Duracion -->
      <span class="text-danger" *ngIf="validarCampos('duracion')">
        {{ errorDuracion }}
      </span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Duración</span>
        </div>
        <input type="number" class="form-control" id="duracion" formControlName="duracion" />
        <div class="input-group-append">
          <span class="input-group-text">Horas</span>
        </div>
      </div>

      <!-- Horario -->
      <span class="text-danger" *ngIf="validarCampos('horario')">
        {{ errorHorario }}
      </span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Horario</span>
        </div>
        <input type="text" class="form-control" id="horario" formControlName="horario" />
      </div>

      <!-- Modalidad -->
      <span class="text-danger" *ngIf="validarCampos('modalidad')">
        {{ errorModalidad }}
      </span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Modalidad</label>
        </div>
        <select class="form-control custom-select" formControlName="modalidad">
          <option value="">Seleccionar...</option>
          <option *ngFor="let modalidad of modalidades" [value]="modalidad">
            {{ modalidad }}
          </option>
        </select>
      </div>

      <!-- Fecha -->
      <span class="text-danger" *ngIf="validarCampos('fecha')">
        {{ errorFecha }}
      </span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Fecha</span>
        </div>
        <input type="date" class="form-control" id="fecha" formControlName="fecha" />
      </div>

      <!-- Precio -->
      <span class="text-danger" *ngIf="validarCampos('precio')">
        {{ errorPrecio }}
      </span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Precio ($)</span>
        </div>
        <input type="number" class="form-control" id="precio" formControlName="precio" />
        <div class="input-group-append">
          <span class="input-group-text">$</span>
        </div>
      </div>
    </div>

    <div *ngIf="numPagina === 2">
      <div>
        <h5 class="text-center">Información adicional</h5>
        <hr>

        <!-- Categoría -->
        <span class="text-danger" *ngIf="validarCampos('categoria') || categoriasSeleccionadas.length === 0">
          {{ errorCategoria }}
        </span>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Categoría</label>
          </div>
          <select class="form-control custom-select" formControlName="categoria" (change)="onChangeCat($event)">
            <option value="">Seleccionar...</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.nombre }}
            </option>
          </select>
        </div>
        <div class="toastDiv" *ngFor="let cat of categoriasSeleccionadas">
          <ngb-toast [autohide]="false">
            {{ cat.nombre }}
            <button type="button" class="ml-2 mb-1 close" aria-label="Close" (click)="eliminarCategoria(cat.id)">
              <span aria-hidden="true">&times;</span>
            </button>
          </ngb-toast>
        </div>
      </div>

      <!-- Imagenes -->
      <div *ngIf="!editar">
        <span class="text-danger" *ngIf="validarCampos('imgs')">
          {{ errorImgs }}
        </span>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Imágenes</span>
          </div>
          <div class="custom-file" style="cursor: pointer">
            <input type="file" class="custom-file-input" multiple accept="image/*" (change)="onChangeImgs($event)"
              formControlName="imgs" id="imgs" />
            <label class="custom-file-label" for="inputGroupFile01"></label>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-4" *ngFor="let img of imgs">
              <img [src]="img" class="img-fluid" alt="Responsive image" />
            </div>
          </div>
        </div>
      </div>

      <!-- Justificacion -->
      <span class="text-danger" *ngIf="validarCampos('justificacion')">
        {{ errorJustificacion }}
      </span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Justificación</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" formControlName="justificacion"></textarea>
      </div>

      <!-- Objetivos -->
      <span class="text-danger" *ngIf="validarCampos('objetivos')">
        {{ errorObjetivos }}
      </span>
      <br *ngIf="validarCampos('objetivos')" />
      <span class="text-danger" *ngIf="nuevoObj.touched && nuevoObj.errors">
        Escriba un objetivo
      </span>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Objetivos</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" [formControl]="nuevoObj"></textarea>
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="button" (click)="agregarObjetivo()">
            +
          </button>
        </div>
      </div>
      <div class="input-group mb-3" formArrayName="objetivos"
        *ngFor="let obj of objetivosArray.controls; let i = index">
        <textarea type="text" class="form-control" [formControlName]="i"></textarea>
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="eliminarObjetivo(i)">
            <i class="material-icons">cancel</i>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="numPagina === 3">
      <h5 class="text-center">Imágenes</h5>
      <hr>
      <div class="container-fluid">
        <div class="row" *ngIf="cargandoImgs">
          <div class="col">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="imgsUrl">
          <div class="col-4" *ngFor="let url of imgsUrl">
            <img [src]="url" class="img-fluid" alt="Responsive image" />
            <div class="d-flex justify-content-around">
              <button type="button" class="btn btn-danger" (click)="eliminarImg(url)">
                <i class="bi bi-x-circle"></i>
              </button>
            </div>
          </div>
          <div class="col" *ngIf="imgsUrl.length === 0">
            <span class="text-center text-danger">No hay imágenes, por favor seleccione al menos una</span>
          </div>
        </div>
        <hr />
        <div class="row">
          <h6 class="text-center">Seleccionar más imágenes
            <i class="bi bi-info-circle" title="Subir nuevas imágenes no reemplazarán a las existentes"></i>
          </h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Imágenes</span>
            </div>
            <div class="custom-file" style="cursor: pointer">
              <input type="file" class="custom-file-input" multiple accept="image/*" (change)="onChangeImgs($event)"
                formControlName="imgs" id="imgs" />
              <label class="custom-file-label" for="inputGroupFile01"></label>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-4" *ngFor="let img of imgs">
                <img [src]="img" class="img-fluid" alt="Responsive image" />
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-primary" (click)="subirNuevasImgs()" [disabled]="cargandoImgs" *ngIf="imgs.length > 0">Subir imágenes</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="d-flex justify-content-center">
  <ngb-pagination [collectionSize]="idCurso ? 30 : 20" [(page)]="numPagina"> </ngb-pagination>
</div>

<span class="text-danger text-center" *ngIf="cursoForm.invalid">
  Hay campos inválidos, por favor verifique.
</span>
<div [class]="editar ? 'modal-footer justify-content-between' : 'modal-footer'">
  <button type="button" class="btn btn-danger text-left" (click)="eliminar()" *ngIf="editar">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="cargandoEliminar">
    </span>
    <i class="material-icons" *ngIf="!cargandoEliminar"> delete </i>
  </button>
  <button type="button" class="btn btn-success" (click)="guardar()"
    [disabled]="((cargandoGuardar || !cursoForm.dirty) && editar) || (cargandoGuardar && !editar)">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="cargandoGuardar"></span>
    {{ cargandoGuardar ? "Guardando..." : "Guardar" }}
  </button>
</div>