<div class="modal-header">
  <h4 class="modal-title">Información del usuario</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismissAll('Cross click')"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="perfilForm">
    <!-- Cedula -->
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Cédula</span
      >
      <input type="text" class="form-control" formControlName="cedula" />
    </div>

    <!-- Nombre y Apellido -->
    <div class="input-group">
      <span class="input-group-text">Nombre y Apellido</span>
      <input type="text" class="form-control" formControlName="nombre" />
      <input type="text" class="form-control" formControlName="apellido" />
    </div>
    <br />

    <!-- Email -->
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
      <input type="text" class="form-control" formControlName="email" />
    </div>

    <!-- Telefono -->
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Teléfono</span
      >
      <input type="text" class="form-control" formControlName="telefono" />
    </div>

    <!-- Ciudad -->
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Ciudades</label>
      <select class="form-select" id="inputGroupSelect01" formControlName="ciudades">
        <option *ngFor="let ciudad of ciudades"> {{ ciudad.nombre }} </option>
      </select>
    </div>
  </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="finalizar()">Confirmar información</button>
</div>
