<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4 align-items-center">
      <div class="d-flex justify-content-center">
        <img src="../../../assets/img/icono-corfo.png" alt="logo-corfopym" />
      </div>
      <div class="d-flex flex-wrap align-content-start">
        <span class="text-center"
          ><strong
            >Corporación de Fomento y Promoción de la Micro y Pequeña
            Empresa</strong
          ></span
        >
        <br />
        <span class="text-muted text-center">Cursos y capacitaciones con certificación</span>
      </div>
    </div>

    <div class="col-md-4 justify-content-center">
      <a href="mailto:" class="text-muted">
        <i class="bi bi-envelope-fill"></i>
        <span class="ms-1"> corfopym@gmail.com </span>
      </a>
      <br />
      <i class="bi bi-telephone-fill text-muted">
        <span class="ms-1"> 0999005809 \ 032829370 </span>
      </i>
      <br />
      <i class="bi bi-geo-alt-fill text-muted">
        <span class="ms-1">
          <small>AMBATO: Bolívar 19-64 y Quito Edif. Sindicato de Choferes, Piso
          7</small
          >
        </span>
      </i>
      <br />
      <i class="bi bi-geo-alt-fill text-muted">
        <span class="ms-1">
          <small>QUITO: Av. 6 de Diciembre 1070 y Av. 10 de Agosto</small>
        </span>
      </i>
      <ul class="list-unstyled d-flex justify-content-center">
        <li class="ms-3">
          <a class="text-muted" href="https://www.facebook.com/Corfopym.Capacitaciones">
            <span>
              <i class="bi bi-facebook"></i>
            </span>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="https://ec.linkedin.com/company/corfopym">
            <span>
              <i class="bi bi-linkedin"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-4 justify-content-center">
      <h5 class="text-center">Métodos de pago</h5>
      <br />
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <img src="../../../assets/img/paypal.png" alt="paypal" />
        </li>
        <li class="ms-3">
          <img src="../../../assets/img/visa.png" alt="visa" />
        </li>
        <li class="ms-3">
          <img src="../../../assets/img/mastercard.png" alt="mastercard" />
        </li>
      </ul>
    </div>
    <br />
    <div class="d-flex justify-content-center copyright">
      <p class="text-center text-muted">
        Copyright &copy; Todos los derechos reservados.
      </p>
    </div>
  </footer>
</div>
